:root {
    --text1: "Poppins", serif;
    --text2: "Varela Round", serif; 
    --textColor: #FEFAF6;
}

body {
    margin: 0;
    background-color: var(--textColor);
}
h1 {
    margin: 0;
}

/* Layout */

.heading {
    background-color: #2E5077;
    color: var(--textColor);
    padding: 0.5em;
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 2px solid rgb(129, 118, 118) ;
}

.controls {
    background-color: #2E5077;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
    border-bottom: 2px solid gray ;
}

.btn {
    padding: 0.5em 0.75em;
    font-family: var(--text1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 0.5em;
    background-color: #FCDE70;
    box-shadow: 0 5px 0 #7c6413;
    cursor: pointer;
    transition: all 0.1s ease;
}

.btn:hover {
    background-color: #E8B86D;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 ;
}


main {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #28282B;
    padding: 0 2em;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 60%;
    max-width: 600px;
}

.bar {
    width: 10%;
    background-color: #99D1D5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: inset -2px 0 5px #31969d;
    color: var(--textColor);
}

.highlighted {
    background-color: #C40233;
    box-shadow: inset -2px 0 5px #61091f;
}

.sorted {
    background-color: #50C878;
    box-shadow: inset -2px 0 5px #23703d;
}

/* Typography */

.heading {
    font-family: var(--text1);
    letter-spacing: 1px;
}

.bar {
    font-family: var(--text2);
    font-size: 0.9rem;
    letter-spacing: -0.5px;
}





